<!DOCTYPE html>
<html lang="en">

<head>
	<title>File Upload</title>
</head>

<body>
	<!--Content will go inside here.-->
	<form action="http://localhost:8010/file-repo/storefile" method="post" enctype="multipart/form-data">
		<!--Content will go inside here.-->
		<input name="file" type="file">
		<input type="submit" value="Upload Now">
	</form>
</body>

</html>
